@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .hamburger {
    @apply relative top-2 right-[10px] cursor-pointer w-[30px] h-[30px] bg-none border-none outline-none z-[999];
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply absolute w-[30px] h-[3px] top-0 left-0 bg-white;
    transition: all 0.5;
  }

  .hamburger-middle {
      transform: translateY(6px);
  }

  .hamburger-bottom {
      transform: translateY(12px);
  }

  .open {
      transform: rotate(90deg);
  }

  .open.hamburger-top {
      transform: rotate(45deg) translateY(6px) translateX(6px);
  }

  .open.hamburger-middle {
      display: none;
  }

  .open.hamburger-bottom {
      transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }

  .mobile-main-menu {
      @apply fixed top-0 right-0 w-[350px] h-full bg-black text-white z-[99] flex items-center justify-center translate-x-full;

      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .show {
      @apply translate-x-0;
  }

  .show ul {
      @apply w-full list-none flex flex-col justify-center p-14;

  }

  .show ul li {
      @apply mb-8 text-lg w-full;

  }


  .stop-scrolling {
      @apply overflow-hidden;

  }

  .overlay-show {
      @apply block fixed top-0 left-0 w-full h-screen z-[90];

      background: rgba(0, 0, 0, 0.5);
  }
}

